<div class="login-container">
  <div class="login-card">
    <div class="pokeball"></div>
    <h2>Criar Conta</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" formControlName="nome" placeholder="Seu nome de treinador" required>
      </div>

      <div class="form-group">
        <label for="login">Login</label>
        <input type="text" id="login" formControlName="login" placeholder="Seu login de acesso" required>
      </div>

      <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" id="senha" formControlName="senha" placeholder="Crie uma senha" required>
      </div>

      <button type="submit" [disabled]="!registerForm.valid">Registrar</button>
    </form>

    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <p class="register-link">Já tem uma conta? <a routerLink="/login">Faça o login</a></p>
  </div>
</div>